body {
  background-color: #131313;
  color: #f0f0f0;
}

a {
  color: bisque;
}

.uppercase {
  text-transform: uppercase;
}

.red {
  color: #ce2828;
}

.yellow {
  color: #ddb94e;
}

.green {
  color: #3ac257;
}

.blue {
  color: #429ac4;
}

button {
  padding: 0.5rem 2rem;
  color: #131313;
  font-weight: 600;
  background-color: #ddb94e;
  border: none;
  border-radius: 1rem;
  transition: background-color 1s;
}

button:hover {
  background-color: #e06823;
}
