:root {
--bg-page: #121212;
--bg-component: #1e1e1e; 
--text-color: #f0f0f0; 
--border-color: #3a3a3a; 
--primary-accent-color: #7ed957; 
--secondary-accent-color: rgba(121, 202, 59, 0.4); 
}

body {    
  max-width: max-content;
  height: 100vh;    
  margin: auto;
  padding: 48px 64px;
  color: var(--text-color);
  background-color: var(--bg-page);
  font-family: Verdana, Geneva, sans-serif;
  
}

h1 {
  text-align: center;
}

.component {
  position:relative;
  background-color: var(--bg-component);
  border: solid 1px var(--border-color);
  border-radius: 32px;
  padding: 24px 32px;
  text-align: center;
  width: max-content;
  margin: auto;
  transition: background 0.5s linear;
  cursor: pointer;
}

.component__title {
  position: relative;
  text-align: center;
  width: 100%;
  font-weight: 700;
  transition: color 0.2s linear, transform 0.2s linear;
}

.component.check > .component__title{
  color: var(--primary-accent-color);
  transform: scale(1.2);
}

.component:before {
  content: "doCheck";
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  margin: auto;
  color: var(--secondary-accent-color);
  font-size: 32px;
  font-weight: 700;
  z-index: 0;
  opacity: 0;
}

.component.check:before {
  animation: opacity 1s linear;
}

@keyframes opacity {
  0%{ opacity: 0;}
  10%{ opacity: 1;}
  90%{ opacity: 1;}
 100%{ opacity: 0;}
}

button{
  background-color: initial;
  border-radius: 16px;
  padding: 8px 16px;
  margin-top: 16px;
  border: solid 2px var(--border-color);
  color: var(--text-color);
  cursor: pointer;
}

button:active, button:hover{
  background-color: #00000018;
}

.wrap-children{
  display: flex;
  gap:24px
}