:root {
--bg-page: #121212;
--bg-component: #1e1e1e; 
--text-color: #f0f0f0; 
--border-color: #3a3a3a; 
--primary-accent-color: #7ed957; 
--secondary-accent-color: rgba(121, 202, 59, 0.4); 
}

body {    
  max-width: max-content;
  margin: auto;
  padding: 3rem 4rem; 
  color: var(--text-color);
  background-color: var(--bg-page);
  font-family: Verdana, Geneva, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.component {
  position: relative;
  background-color: var(--bg-component);
  border: solid 0.0625rem var(--border-color); 
  border-radius: 2rem; 
  padding: 1.5rem 2rem; 
  text-align: center;
  width: max-content;
  margin: auto;
  transition: background 0.5s linear;
  cursor: pointer;
}

.component__title {
  position: relative;
  text-align: center;
  width: 100%;
  font-weight: 700;
  transition: color 0.2s linear, transform 0.2s linear;
}

.component.check > .component__title {
  color: var(--primary-accent-color);
  transform: scale(1.2);
}

.component:before {
  content: "doCheck";
  position: absolute;
  top: 0.25rem; 
  left: 0;
  right: 0;
  margin: auto;
  color: var(--secondary-accent-color);
  font-size: 2rem; 
  font-weight: 700;
  z-index: 0;
  opacity: 0;
}

.component.check:before {
  animation: opacity 1s linear;
}

@keyframes opacity {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

button {
  background-color: var(--border-color);
  width: max-content;  
  margin: 0 auto 0;
  padding: 0.5rem 1rem; 
  border-radius: 1rem;
  border: solid 0.125rem var(--border-color); 
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
}

button:active, 
button:hover {
  background-color: var(--bg-component);
}

.wrap-children {
  display: flex;
  gap: 1.5rem; 
}

.copyright {
  margin-top: 2rem; 
  text-align: right;
}

.copyright a {
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--text-color);
}